/* You can add global styles to this file, and also import other style files */
.ui.button,
.ui.menu,
.ui.segment,
.ui.table,
.ui.message,
.ui.form input:not([type]),
.ui.form input:not([type]):focus,
.ui.form input[type='text'],
.ui.form input[type='text']:focus,
.ui.form input[type='number'],
.ui.form input[type='number']:focus,
.ui.form input[type='email'],
.ui.form input[type='email']:focus,
.ui.form input[type='password'],
.ui.form input[type='password']:focus,
.ui.form input[type='date'],
.ui.form input[type='date']:focus,
.ui.form textarea,
.ui.form textarea:focus,
.ui.search .prompt,
select.ui.dropdown {
    border-radius: 0;
}

.ui.container {
    margin-top: 30px !important;
    margin-bottom: 50px !important;
}

.ui.home-header {
    margin: 25px 0;
}

.ui.home-divider {
    margin: 50px 0;
}

.ui.h1-divider {
    margin-bottom: 50px;
}

.ui .book-list-item-container {
    padding: 1rem 2rem !important;
}

a.bs-book-list-item.item {
    color: #000000;
}

.ui.book-list-item {
    margin-bottom: 30px;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15)
}

.ui.book-list-item .image-container {
    padding: 0 !important;
}

.ui.book-list-item .content {
    padding-left: 20px;
}

.ui.book-list-item .published {
    margin-bottom: 5px;
}

.ui.book-list-item .price,
.ui.book-details .price {
    font-size: 18px;
    font-weight: bold;
    color: #2185D0;
}

.ui.grid.book-details {
    margin-bottom: 20px;
}

.ui.grid.book-details .ui.header:last-child {
    margin-bottom: 14px;
}

.ui.grid .order-details-image img,
.ui.grid .shopping-cart-image img {
    width: auto;
    max-height: 80px;
}

.ui .shopping-cart-amount {
    display: inline-flex;
    justify-content: center;
    width: 40px;
    margin: 0 0.25em 0 0;
}

.ui .shopping-cart-address {
    width: 100%;
}

.ui .shopping-cart-checkout-books,
.ui .shopping-cart-checkout-addresses {
    margin-bottom: 50px;
}