<div class="ui container middle aligned selection divided list" *ngIf="!authService.isAdmin()">

    <div class="ui grid">
        <div class="sixteen wide column right aligned content">
            <h1>My Shopping Cart</h1>
        </div>
    </div>

    <div class="ui divider h1-divider"></div>

    <table class="ui very basic celled table" *ngIf="books">
        <thead>
        <tr>
            <th></th>
            <th class="center aligned">Amount</th>
            <th class="center aligned">Price per book</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="shopping-card-book" *ngFor="let book of books; last as l" id="{{book.isbn}}">
            <td>
                <div class="ui grid">
                    <div class="two wide column shopping-cart-image">
                        <img src="{{book.images[0]?.url}}" class="ui tiny image">
                    </div>
                    <div class="twelve wide column middle aligned">
                        <h4 class="ui image header">
                            <div class="content">
                                {{book.title}}
                                <div class="sub header" *ngIf="book.subtitle">
                                    {{book.subtitle}}
                                </div>
                            </div>
                        </h4>
                    </div>
                </div>
            </td>
            <td class="center aligned">
                <div class="ui form">
                    <div class="field">
                        <button (click)="decreaseAmount(book)" class="ui icon button blue remove-amount">
                            <i class="minus icon white"></i>
                        </button>
                        <span id="shopping-cart-amount-{{book.isbn}}" class="ui shopping-cart-amount">
                            {{getAmount(book)}}
                        </span>
                        <button (click)="increaseAmount(book)" class="ui icon button blue add-amount">
                            <i class="plus icon white"></i>
                        </button>
                    </div>
                </div>
            </td>
            <td class="right aligned">
                <span id="price_gross_{{book.isbn}}">{{((book.price_net * 1.1 | currency:'EUR':'€'))}}</span>
            </td>
            <td class="center aligned">
                <button (click)="removeBookFromShoppingCart(book)" class="ui icon button blue">
                    <i class="trash icon white"></i>
                </button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th class="right aligned">{{sum_gross | currency:'EUR':'€'}}</th>
            <th></th>
        </tr>
        </tfoot>
    </table>

    <div class="ui grid" *ngIf="authService.isLoggedIn()">
        <div class="sixteen wide column address">
            <h2>Billing Address</h2>
            <div class="ui grid">
                <div class="ui form sixteen wide column" *ngIf="addresses">
                    <div class="grouped fields">
                        <div class="ui grid">
                            <div class="eight wide column" *ngFor="let address of addresses; let f = first;">
                                <div class="field">
                                    <div class="ui grid">
                                        <div class="sixteen wide column middle aligned content">
                                            <div class="ui radio checkbox shopping-cart-address">
                                                <input (change)="setBillingAddress(address)"
                                                       type="radio"
                                                       name="billing_address"
                                                       [attr.checked]="checkBillingAddress(address) ? 'checked' : null">
                                                <label>
                                                    <div class="ui segment">
                                                        <p>
                                                            <strong>{{address.firstname}} {{address.lastname}}</strong><br/>
                                                            {{address.street}} {{address.number}}<br/>
                                                            {{address.zip}} {{address.city}}<br/>
                                                            {{address.country}}
                                                        </p>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui grid" *ngIf="authService.isLoggedIn()">
        <div class="sixteen wide column address">
            <h2>Shipping Address</h2>
            <div class="ui grid">
                <div class="ui form sixteen wide column" *ngIf="addresses">
                    <div class="grouped fields">
                        <div class="ui grid">
                            <div class="eight wide column" *ngFor="let address of addresses">
                                <div class="field">
                                    <div class="ui grid">
                                        <div class="sixteen wide column">
                                            <div class="ui radio checkbox shopping-cart-address">
                                                <input (change)="setShippingAddress(address)"
                                                       type="radio"
                                                       name="shipping_address"
                                                       [attr.checked]="checkShippingAddress(address) ? 'checked' : null">
                                                <label>
                                                    <div class="ui segment">
                                                        <p>
                                                            <strong>{{address.firstname}} {{address.lastname}}</strong><br/>
                                                            {{address.street}} {{address.number}}<br/>
                                                            {{address.zip}} {{address.city}}<br/>
                                                            {{address.country}}
                                                        </p>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui grid">
        <div *ngIf="authService.isLoggedIn()" class="sixteen wide column right aligned content">
            <button [routerLink]="['/shoppingcart/checkout']" class="ui blue right labeled icon button">
                proceed to checkout
                <i class="arrow right icon"></i>
            </button>
        </div>
        <div *ngIf="!authService.isLoggedIn()" class="sixteen wide column right aligned content">
            <button [routerLink]="['/login']" class="ui blue right labeled icon button">
                login to order now
                <i class="arrow right icon"></i>
            </button>
        </div>
    </div>
</div>