<div class="ui container middle aligned selection divided list">
    <div class="ui grid">
        <div class="sixteen wide column right aligned content">
            <h1>Books</h1>
        </div>
    </div>

    <div class="ui divider h1-divider"></div>

    <div class="ui grid">
        <div class="sixteen wide column book-list-item-container">
            <a class="bs-book-list-item item"
               *ngFor="let book of books"
               [book]="book"
               [routerLink]="book.isbn">
            </a>
        </div>
    </div>
</div>