<div class="ui container" *ngIf="authService.isLoggedIn() && !authService.isAdmin()">
    <div class="shopping-cart-checkout" *ngIf="authService.isLoggedIn()">

        <div class="ui grid">
            <div class="sixteen wide column right aligned content">
                <h1>My order</h1>
            </div>
        </div>

        <div class="ui divider h1-divider"></div>

        <div class="ui grid shopping-cart-checkout-books">
            <div class="sixteen wide column">
                <h2 class="ui horizontal divider header">
                    <i class="book icon"></i>
                    1 | Books
                </h2>
            </div>

            <table class="ui very basic celled table" *ngIf="books">
                <thead>
                <tr>
                    <th></th>
                    <th class="center aligned">Amount</th>
                    <th class="center aligned">Price per book</th>
                </tr>
                </thead>
                <tbody>
                <tr class="shopping-card-book" *ngFor="let book of books; last as l" id="{{book.isbn}}">
                    <td>
                        <div class="ui grid">
                            <div class="two wide column shopping-cart-image">
                                <img src="{{book.images[0]?.url}}" class="ui tiny image">
                            </div>
                            <div class="twelve wide column middle aligned">
                                <h4 class="ui image header">
                                    <div class="content">
                                        {{book.title}}
                                        <div class="sub header" *ngIf="book.subtitle">
                                            {{book.subtitle}}
                                        </div>
                                    </div>
                                </h4>
                            </div>
                        </div>
                    </td>
                    <td class="center aligned">
                        <div class="ui form">
                            <div class="field">
                                <span id="shopping-cart-amount-{{book.isbn}}" class="ui shopping-cart-amount">
                                    {{getAmount(book)}}
                                </span>
                            </div>
                        </div>
                    </td>
                    <td class="right aligned">
                        <span id="price_gross_{{book.isbn}}">{{((book.price_net * 1.1 | currency:'EUR':'€'))}}</span>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th class="right aligned">{{sum_gross | currency:'EUR':'€'}}</th>
                </tr>
                </tfoot>
            </table>
        </div>

        <div class="ui grid shopping-cart-checkout-addresses">
            <div class="sixteen wide column address">
                <h2 class="ui horizontal divider header">
                    <i class="address card icon"></i>
                    2 | Address
                </h2>
                <div class="ui grid">
                    <div class="eight wide column">
                        <div class="ui segment">
                            <h3>Billing Address</h3>
                            <p>
                                <strong>{{billing_address.firstname}} {{billing_address.lastname}}</strong><br/>
                                {{billing_address.street}} {{billing_address.number}}<br/>
                                {{billing_address.zip}} {{billing_address.city}}<br/>
                                {{billing_address.country}}
                            </p>
                        </div>
                    </div>
                    <div class="eight wide column">
                        <div class="ui segment">
                            <h3>Shipping Address</h3>
                            <p>
                                <strong>{{shipping_address.firstname}} {{shipping_address.lastname}}</strong><br/>
                                {{shipping_address.street}} {{shipping_address.number}}<br/>
                                {{shipping_address.zip}} {{shipping_address.city}}<br/>
                                {{shipping_address.country}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui grid">
            <div class="eight wide column">
                <button [routerLink]="['/shoppingcart']" class="ui blue labeled icon button">
                    <i class="arrow left icon"></i>
                    back to shopping cart
                </button>
            </div>
            <div class="eight wide column right aligned content">
                <button (click)="saveOrder()" [routerLink]="['/myorders']" class="ui blue right labeled icon button">
                    order now
                    <i class="arrow right icon"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="ui grid" *ngIf="!authService.isLoggedIn()">
        <div class="sixteen wide column center aligned content">
            <h1>Please login first!</h1>
            <button [routerLink]="['/login']" class="ui blue button">
                login
            </button>
        </div>
    </div>
</div>