<div class="ui container">
    <div class="ui grid">
        <div class="ui sixteen column center aligned content home-header">
            <h1>KWM bookstore</h1>
            <p>Welcome to the KWM bookstore!</p>
        </div>
    </div>
    <div class="ui grid">
        <div class="eight wide column">
            <bs-search class="column" (bookSelected)="bookSelected($event)"></bs-search>
        </div>
        <div class="eight wide column right aligned content">
            <button routerLink="../books" class="ui blue button">
                view booklist
                <i class="arrow right icon"></i>
            </button>
        </div>
    </div>

    <div class="ui divider home-divider"></div>

    <div class="ui grid">
        <div class="sixteen wide column center aligned content">
            <h2>New Releases</h2>
        </div>

        <div class="four wide column" *ngFor="let book of books">
            <div class="home-image">
                <a [routerLink]="['/books/' + book.isbn]">
                    <img src="{{book.images[0]?.url}}" class="ui image">
                </a>
            </div>
        </div>
    </div>
</div>