<div class="ui container">
    <div *ngIf="!isLoggedIn()">

        <div class="ui grid">
            <div class="sixteen wide column right aligned content">
                <h1>Login</h1>
            </div>
        </div>

        <div class="ui divider h1-divider"></div>

        <form class="ui large form" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="field">
                <label>E-Mail</label>
                <input type="email" id="username" formControlName="username">
                <div *ngIf="loginForm.get('username').invalid &&
                        (loginForm.get('username').dirty ||
                        loginForm.get('username').touched) &&
                        loginForm.get('username').hasError('required')" class="ui pointing red label">
                    Username is mandatory
                </div>
                <div *ngIf="loginForm.get('username').invalid &&
                            (loginForm.get('username').dirty ||
                            loginForm.get('username').touched) &&
                            loginForm.get('username').hasError('email')" class="ui pointing red label">
                    E-Mail format is not valid
                </div>
            </div>
            <div class="field">
                <label>Passwort</label>
                <input type="password" formControlName="password">
                <div *ngIf="loginForm.get('password').invalid &&
                        (loginForm.get('password').dirty ||
                        loginForm.get('password').touched)" class="ui pointing red label">
                    Password is mandatory
                </div>
            </div>

            <button type="submit" class="ui button blue" [disabled]="loginForm.invalid">Login</button>
        </form>
    </div>
    <div *ngIf="isLoggedIn()">
        <div class="ui grid">
            <div class="sixteen wide column right aligned content">
                <h1>Logout</h1>
            </div>
        </div>

        <div class="ui divider h1-divider"></div>

        <div class="ui grid">
            <div class="sixteen wide column">
                <button type="button" class="ui button blue" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</div>