<div class="ui container">
    <div class="ui grid" *ngIf="order">
        <div class="twelve wide column">
            <h1 class="ui header">
                <i class="truck icon"></i>
                <div class="content">
                    Order #{{order.id}}
                    <div class="sub header">{{order.user?.firstname}} {{order.user?.lastname}}</div>
                </div>
            </h1>
        </div>
        <div class="four wide column right aligned">
            <h2>Status:
                <span *ngFor="let status of order.statuses; last as l">
                    <span *ngIf="l">{{status.status}}</span>
                </span>
            </h2>
        </div>
    </div>

    <div class="ui grid" *ngIf="order">
        <div class="sixteen wide column books">
            <h2>Books</h2>
            <div class="ui grid">
                <div class="sixteen wide column">

                    <table class="ui five column selectable table">
                        <thead>
                        <tr>
                            <th>Cover</th>
                            <th>Title</th>
                            <th class="center aligned">Amount</th>
                            <th class="right aligned">Price per book <span *ngIf="authService.isAdmin()">(gross)</span></th>
                            <th class="right aligned">Price in total <span *ngIf="authService.isAdmin()">(gross)</span></th>
                        </tr>
                        </thead>

                        <tbody *ngFor="let book of order.books; last as l">
                        <tr>
                            <td class="order-details-image"><img class="ui large image"
                                                                 *ngIf="book.images && book.images[0]"
                                                                 [src]="book.images[0].url">
                            </td>
                            <td class="single line">{{book.title}}</td>
                            <td class="center aligned">{{book.pivot.amount}}</td>
                            <td class="right aligned">{{((book.pivot.price_net * 1.1)) | currency:'EUR':'€'}}</td>
                            <td class="right aligned">{{((book.pivot.price_net * 1.1 * book.pivot.amount))|
                                currency:'EUR':'€'}}
                            </td>
                        </tr>
                        </tbody>

                        <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th class="right aligned">{{order.price_total_gross | currency:'EUR':'€'}}</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="ui grid" *ngIf="order">
        <div class="sixteen wide column address">
            <h2>Address</h2>
            <div class="ui grid">
                <div class="eight wide column" *ngIf="order.billing_address">
                    <div class="ui segment">
                        <h3>Billing Address</h3>
                        <p>
                            <strong>{{order.billing_address.firstname}} {{order.billing_address.lastname}}</strong><br/>
                            {{order.billing_address.street}} {{order.billing_address.number}}<br/>
                            {{order.billing_address.zip}} {{order.billing_address.city}}<br/>
                            {{order.billing_address.country}}
                        </p>
                    </div>
                </div>
                <div class="eight wide column" *ngIf="order.shipping_address">
                    <div class="ui segment">
                        <h3>Shipping Address</h3>
                        <p>
                            <strong>{{order.shipping_address.firstname}}
                                {{order.shipping_address.lastname}}</strong><br/>
                            {{order.shipping_address.street}} {{order.shipping_address.number}}<br/>
                            {{order.shipping_address.zip}} {{order.shipping_address.city}}<br/>
                            {{order.shipping_address.country}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui grid" *ngIf="order">
        <div class="sixteen wide column address">
            <h2>Status History</h2>
            <table class="ui selectable table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Status</th>
                    <th class="right aligned">Comment</th>
                </tr>
                </thead>
                <tbody *ngFor="let stat of order.statuses; last as l">
                <tr>
                    <td>{{stat.date | date:'dd.MM.yyyy | HH:mm'}}</td>
                    <td>{{stat.status}}</td>
                    <td class="right aligned">{{stat.comment}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="ui grid" *ngIf="authService.isAdmin()">
        <div class="sixteen wide column">
            <div class="ui segment">
                <div class="ui grid">
                    <div class="sixteen wide column middle aligned">
                        <h2>New Status</h2>
                    </div>
                </div>

                <div class="ui divider"></div>

                <form class="ui grid large form" [formGroup]="newStatusForm" (ngSubmit)="submitForm()">

                    <div class="eight wide column">
                        <input type="hidden" name="id">

                        <div class="field">
                            <label>Status</label>
                            <select class="ui dropdown" formControlName="status">
                                <option value="open">open</option>
                                <option value="paid">paid</option>
                                <option value="sent">sent</option>
                                <option value="canceled">canceled</option>
                            </select>
                            <div *ngIf="errors.status" class="ui pointing red label">{{errors.status}}</div>
                        </div>

                        <div class="field">
                            <label>Comment</label>
                            <textarea formControlName="comment" rows="2"></textarea>
                        </div>
                    </div>

                    <div class="eight wide column middle aligned right aligned content">
                        <button type="submit" id="addNewStatus" class="ui icon button labeled blue"
                                [disabled]="newStatusForm.invalid">
                            <i class="plus icon white"></i>
                            save new status
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="ui grid">
        <div class="sixteen wide column">
            <button *ngIf="!authService.isAdmin()" [routerLink]="['/myorders']" class="ui blue labeled icon button">
                <i class="arrow left icon"></i>
                back to order list
            </button>
            <button *ngIf="authService.isAdmin()" [routerLink]="['/orders']" class="ui blue labeled icon button">
                <i class="arrow left icon"></i>
                back to order list
            </button>
        </div>
    </div>
</div>