<div class="ui {{isLoggedIn() ? 'five' : 'four'}} item tabs menu">
    <a routerLink="home" routerLinkActive="active" class="item">
        <i class="home icon"></i>
        Home
    </a>
    <a routerLink="books" routerLinkActive="active" class="item">
        <i class="book icon"></i>
        Books
    </a>
    <a *ngIf="!isLoggedIn() || !isAdmin()" routerLink="shoppingcart" routerLinkActive="active" class="item">
        <i class="shopping cart icon"></i>
        Shopping Cart
    </a>
    <a *ngIf="isLoggedIn() && !isAdmin()" routerLink="myorders" routerLinkActive="active" class="item">
        <i class="clipboard list icon"></i>
        My Orders
    </a>
    <a *ngIf="isLoggedIn() && isAdmin()" routerLink="orders" routerLinkActive="active" class="item">
        <i class="pencil list icon"></i>
        Orders
    </a>
    <a *ngIf="isLoggedIn() && isAdmin()" routerLink="newbook" routerLinkActive="active" class="item">
        <i class="plus alternate icon"></i>
        New Book
    </a>
    <a routerLink="login" routerLinkActive="active" class="item">
        <i class="power off icon"></i>
        {{getLoginLabel()}}
    </a>
</div>
<router-outlet></router-outlet>