<div class="ui container" *ngIf="authService.isAdmin()">
    <div class="ui grid">
        <div class="sixteen wide column right aligned content">
            <h1>New Book</h1>
        </div>
    </div>

    <div class="ui divider h1-divider"></div>

    <div class="ui segment new-book">
        <div class="ui grid">
            <div class="sixteen wide column middle aligned">
                <h2>New Book</h2>
            </div>
        </div>

        <div class="ui divider"></div>

        <form class="ui large form" [formGroup]="bookForm" (ngSubmit)="submitForm()">
            <input type="hidden" name="id">

            <div class="field">
                <label>Title</label>
                <div class="ui corner labeled input">
                    <input type="text" formControlName="title">
                    <div class="ui corner label">
                        <i class="asterisk icon"></i>
                    </div>
                </div>
                <div *ngIf="errors.title" class="ui pointing red label">{{errors.title}}</div>
            </div>

            <div class="field">
                <label>Subtitle</label>
                <input type="text" formControlName="subtitle">
            </div>

            <div class="field">
                <label>Authors</label>
                <div formArrayName="authors">
                    <div class="fields" *ngFor="let control of authors?.controls; index as a; last as l"
                         [formGroupName]="a">
                        <input type="hidden" name="author_id">
                        <div class="seven wide field">
                            <div class="ui corner labeled input">
                                <input type="text" formControlName="firstname" placeholder="firstname">
                                <div class="ui corner label">
                                    <i class="asterisk icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="seven wide field">
                            <div class="ui corner labeled input">
                                <input type="text" formControlName="lastname" placeholder="lastname">
                                <div class="ui corner label">
                                    <i class="asterisk icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="one wide field">
                            <button (click)="removeAuthorControl(a)" class="ui icon button blue" type="button">
                                <i class="minus icon white"></i>
                            </button>
                        </div>
                        <div class="one wide field" *ngIf="l">
                            <button (click)="addAuthorControl()" class="ui icon button blue" type="button">
                                <i class="plus icon white"></i>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="errors.authors" class="ui pointing red label">{{errors.authors}}</div>
                </div>
            </div>

            <div class="field" [class.disabled]="isUpdatingBook">
                <label>ISBN</label>
                <div class="ui corner labeled input">
                    <input type="text" formControlName="isbn">
                    <div class="ui corner label">
                        <i class="asterisk icon"></i>
                    </div>
                </div>
                <div *ngIf="errors.isbn" class="ui pointing red label">{{errors.isbn}}</div>
            </div>

            <div class="field">
                <label>Publication date</label>
                <div class="ui corner labeled input">
                    <input type="date" useValueAsDate formControlName="published">
                    <div class="ui corner label">
                        <i class="asterisk icon"></i>
                    </div>
                </div>
                <div *ngIf="errors.published" class="ui pointing red label">{{errors.published}}</div>
            </div>

            <div class="field">
                <label>Description</label>
                <textarea formControlName="description" rows="3"></textarea>
            </div>

            <div class="field">
                <label>Rating</label>
                <input type="number" min="0" max="10" formControlName="rating">
                <div *ngIf="errors.rating" class="ui pointing red label">{{errors.rating}}</div>
            </div>

            <div class="field">
                <label>Price net</label>
                <div class="ui corner labeled input">
                    <input type="number" min="0" step="any" formControlName="price_net">
                    <div class="ui corner label">
                        <i class="asterisk icon"></i>
                    </div>
                </div>
                <div *ngIf="errors.price_net" class="ui pointing red label">{{errors.price_net}}</div>
            </div>

            <div class="field">
                <label>Images</label>
                <div formArrayName="images">
                    <div class="fields" *ngFor="let control of images?.controls; index as i; last as l" [formGroupName]="i">
                        <input type="hidden" name="image_id">
                        <div class="eight wide field">
                            <div class="ui corner labeled input">
                                <input formControlName="url" placeholder="http://image{{i+1}}_url">
                                <div class="ui corner label">
                                    <i class="asterisk icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="six wide field">
                            <div class="ui corner labeled input">
                                <input formControlName="title" placeholder="Image{{i+1}}_title">
                                <div class="ui corner label">
                                    <i class="asterisk icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="one wide field">
                            <button (click)="removeThumbnailControl(i)" class="ui icon button blue" type="button">
                                <i class="minus icon white"></i>
                            </button>
                        </div>
                        <div class="one wide field" *ngIf="l">
                            <button (click)="addThumbnailControl()" class="ui icon button blue" type="button">
                                <i class="plus icon white"></i>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="errors.images" class="ui pointing red label">{{errors.images}}</div>
                </div>
            </div>

            <div class="ui message">
                <div class="content">
                    <p>Fields marked with <i class="asterisk icon"></i> are mandatory.</p>
                </div>
            </div>

            <div class="ui grid">
                <div class="sixteen wide column">
                    <button type="submit" class="ui button blue" [disabled]="bookForm.invalid">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>


